@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Nunito&family=Roboto+Slab:wght@100&family=Roboto:wght@500&display=swap');

:root {
    /*COLORS*/
    --bg-color-primary: #260104;
    --bg-color-second: #730220;
    --bg-color-third: #5F1B8C;
    --bg-color-fourth: #6F36BF;
    --bg-color-fifth: #F2F2F0;
    /*FONT*/
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Mukta', sans-serif;
    --font-third: 'Roboto Slab', serif;
}

.cardis-1 {
    background-color: #FBEBD5;
    border-radius: 15px;
}

.grow {
    width: 100%;
    margin: 0;
    height: 450px;
    background: linear-gradient(to right, #F2845C 75%, #260104 25%);
}

.sms {
    background-image: url(./Assets/IMGS/studant-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    background-position: center;
}

.low-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inner {
    display: flex;
    justify-content: center;
}

.inned {
    display: flex;
    justify-content: center;
}

.inside {
    display: flex;
    justify-content: center;
}

.boxed {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 45px 5vh 0vh 20vh;
}

.boxed>h1 {
    color: var(--bg-color-fifth);
    font-family: var(--font-primary);
    font-size: 3.8em;
    font-weight: bold;
}

.boxed>p {
    color: var(--bg-color-fifth);
    font-family: var(--font-third);
    font-size: 1em;
    font-weight: bold;
}

.lil-box {
    display: flex;
    flex-direction: row;
}

.lil-item {
    margin: 0px 5px;
}

.lil-item>button {
    display: flex;
    flex-direction: row;
}

.button {
    background-color: var(--bg-color-fifth);
    color: var(--bg-color-primary);
    border: 0px;
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 0.9em;
}

.button>h1 {
    font-family: var(--font-primary);
    font-weight: bolder;
    font-size: 0.9em;
    text-align: center;
    align-self: center;
    margin: 0px 5px;
    padding: 0;
}

.button>img {
    width: 23px;
}

.ok {
    background-color: var(--bg-color-fourth);
    color: var(--bg-color-fifth);
    font-family: var(--font-primary);
    border: 0px;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 0.9em;
    height: 100%;
}

.ok>h1 {
    font-size: 0.9em;
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 0;
}

.ok:hover {
    background-color: var(--bg-color-third);
}

.ok:active {
    border: 0px;
    background-color: var(--bg-color-fourth);
    box-shadow: none;
}

.ok:focus {
    background-color: var(--bg-color-fourth);
    border: 0px;
    box-shadow: none;
}

.alg {
    align-self: center !important;
}

.box-1 {
    background-color: #260104;
    color: white;
    border-radius: 7px;
    padding: 10px 10px;
}

.box-1>h1 {
    color: whitesmoke;
    font-weight: bold;
    font-family: var(--font-primary);
    font-size: 2.5em;
    margin: 0px 5px;
    text-align: center;
}

.box-1>p {
    color: whitesmoke;
    font-family: var(--font-secondary);
    font-size: 0.7em;
    padding: 0;
    margin: 0px 5px;
    text-align: center;
    align-self: baseline;
}

.box-2 {
    width: auto;
    padding: 0px 0px;
    border-radius: 7px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: row;
    height: min-content;
    padding: 5px 5px;
}

.box-2>p {
    font-family: var(--font-primary);
    align-self: center;
    color: black;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

.box-2>img {
    width: 54px;
}

.box-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color-fifth);
    border-radius: 7px;
    padding: 10px 20px;
}

.box-4>h1 {
    color: var(--bg-color-primary);
    font-size: 2.5em !important;
    font-family: var(--font-primary);
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.box-4>p {
    font-family: var(--font-secondary);
    font-size: 0.8em;
    text-align: center;
    color: grey;
    margin: 0;
    padding: 0;
}

.low-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.img-cards {
    width: 64px;
    align-self: center;
}

.card {
    border: 0px !important;
}

.card-title {
    font-family: var(--font-primary);
    font-size: 1.5em;
    align-self: center;
    text-align: center;
}

.card-text {
    font-family: var(--font-secondary);
    font-size: 1em;
    align-self: center;
    text-align: center;
}

/*SEC-1*/
.title {
    font-family: var(--font-primary);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 2vh;
}

.paragraph {
    font-family: var(--font-secondary);
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}

.lat {
    display: flex;
    flex-direction: row;
    background-color: #730220;
    padding-left: 50px;
    border-radius: 7px;
}

.boxed-img {
    display: flex;
}

.lat-img {
    width: 25%;
    height: min-content;
    position: relative;
    top: -50px;
    border-radius: 7px;
}

.bodis {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-2 {
    font-family: var(--font-primary);
    color: var(--bg-color-fifth);
    font-size: 2.5em;
    font-weight: normal;
    text-align: left;
    margin-bottom: 2vh;
}

.body-text {
    margin: 0vh 10vh 0vh 10vh;
}

.body-text>p {
    font-family: var(--font-secondary);
    font-size: 1em;
    color: var(--bg-color-fifth);
    text-align: left;

}

.butt {
    margin: 0vh 10vh 0vh 10vh;
}

.butonis {
    padding: 10px 20px;
    border: 0px;
    border-radius: 7px;
    background-color: #F2C288;
    color: var(--bg-color-primary);
    font-family: var(--font-primary);
    font-size: 1em;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
}

.butonis:hover {
    background-color: #e2b680;
}

.butonis:focus {
    background-color: #c29c6e;
}

.img-float {
    display: flex;
    justify-content: center;
    position: relative;
}

.img-floatis {
    position: relative;
    width: 64px;
    right: 50px;
    top: -50px;
}

.img-floatis-2 {
    position: relative;
    width: 100px;
    right: -50px;
    top: -410px;
}

.img-floatis-3 {
    position: relative;
    width: 60px;
    right: -457px;
    top: 49px;
}

@media screen and (max-width: 600px) {
    .grow {
        height: 100%;
        background: linear-gradient(#F2845C 75%, #260104 25%);
    }

    .sms {
        height: 250px;
    }

    .card {
        align-self: center;
    }

    .inner {
        display: flex;
        justify-content: flex-start;
        margin: 0px 0px !important;
    }

    .img-floatis-2 {
        position: relative;
        width: 100px;
        right: -150px !important;
        top: -410px;
        transform: rotate(90deg);
    }

    .boxed {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        margin: 0 !important;
    }

    .body-text {
        margin: 0 !important;
    }

    .lat-img {
        width: 100% !important;
        height: min-content;
        position: relative;
        top: -50px;
        border-radius: 7px !important;
        margin-left: 15px;
    }

    .lat {
        flex-direction: column;
        padding-left: 0 !important;
    }

    .img-floatis {
        position: relative;
        width: 50px;
        right: -68px;
        top: -57px;
    }

    .title-2 {
        font-size: 1.9em;
        text-align: center;
    }

    .body-text>p {
        font-size: 1em;
        padding: 20px 15px;
    }

    .butt {
        align-self: center;
        margin: 20px 0px 20px 0px;
    }

    .img-floatis-3 {
        position: relative;
        width: 60px;
        right: -457px;
        top: 49px;
    }
}

@media screen and (max-width: 699px) {
    .img-floatis-2 {
        position: relative;
        width: 100px;
        right: -100px !important;
        top: -410px;
        transform: rotate(90deg);
    }

    .img-floatis-3 {
        position: relative;
        width: 0px !important;
        right: -457px;
        top: 49px;
    }
}

@media screen and (max-width: 768px) {
    .grow {
        background: linear-gradient(#F2845C 75%, #260104 25%);
    }

    .sms {
        height: 250px;
    }

    .inner {
        display: flex;
        justify-content: flex-start;
        margin: 0px 25px;
    }

    .img-floatis-2 {
        position: relative;
        width: 100px;
        right: -50px;
        top: -410px;
        transform: rotate(90deg);
    }

    .img-floatis-3 {
        position: relative;
        width: 60px;
        right: -160px !important;
        top: 49px;
    }

    .lat {
        padding: 0 !important;
        flex-direction: column;
    }

    .lat-img {
        width: 50%;
    }
}

@media screen and (max-width: 997px) {
    .grow {
        height: 100%;
        background: linear-gradient(#F2845C 75%, #260104 25%);
    }

    .sms {
        height: 250px;
    }

    .inside {
        justify-content: flex-end;
    }

    .box-2 {
        width: auto;
        padding: 5px 10px;
    }

    .inner {
        display: flex;
        justify-content: flex-start;
        margin: 0px 45px;
    }

    .inned {
        display: flex;
        justify-content: flex-end;
        margin: 0px 50px;
    }

    .img-floatis-2 {
        position: relative;
        width: 100px;
        right: -50px;
        top: -328px;
        transform: rotate(90deg);
    }

    .img-floatis-3 {
        position: relative;
        width: 60px;
        right: -263px !important;
        top: 49px;
    }
}

@media screen and (max-width: 1200px) {
    .img-floatis-3 {
        position: relative;
        width: 60px;
        right: -387px;
        top: 49px;
    }
}